.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1em;
}

main {
  flex: 1;
  padding: 1em;
}

footer {
  padding: 1em;
  text-align: center;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1.5em; /* Added vertical space between cards */
}

.cat-info {
  background: #f8f9fa;
  border-radius: 4px;
}
/*contact us form*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.contact-form {
  background-color: #1abc9c;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  
}

.contact-form h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1em;
}

.contact-form .form-label {
  font-weight: 600;
  color: #fff;
}

.contact-form .form-control {
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

.contact-form .form-control:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25);
}

.contact-form .btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form .btn:hover {
  background-color: transparent;
  color: #fff;
}

.contact-form textarea {
  min-height: 150px;
  resize: none;
  overflow-y: auto;
}

.contact-form .input-container {
  margin-bottom: 1.5rem;
  position: relative;
}

.contact-form .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.contact-form .input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.contact-form .input-container span:before,
.contact-form .input-container span:after {
  content: "";
  position: absolute;
  width: 50%;
  opacity: 1;
  height: 5px;
  background-color: #1abc9c;
}

.contact-info {
  padding: 2.3rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
}

.contact-info .information {
  color: #333;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.contact-info .icon {
  width: 28px;
  margin-right: 0.7rem;
}

.contact-info .social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.contact-info .social-icons a:hover {
  transform: scale(1.05);
}

@media (max-width: 850px) {
  .contact-form {
    padding: 1.5rem;
  }

  .contact-info .icon {
    width: 25px;
  }

  .contact-info .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .contact-form {
    padding: 1rem;
  }

  .contact-form h2 {
    font-size: 1.5rem;
  }

  .contact-form .form-control {
    padding: 0.5rem 1rem;
  }

  .contact-form .btn {
    padding: 0.5rem 1rem;
  }
}

/*about us*/





